*{
    box-sizing: border-box;
}
body{
    margin: auto;
    background-color: #3d3d55;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1050px;
    height: 580px;
    background-color: #ffffff;
    border-radius: 10px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.section-img{
    display: inline-block;
    width: 50%;
    height: 580px;
    background-color: #ffffff;
    border-bottom-right-radius: 50px;
}
.section-camps{
    margin: auto;
    width: 50%;
    height: 580px;
    background-color: #f2f2f2;
    border-top-left-radius: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.content-camp{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    margin-left: 50px;
    padding-bottom: 100px;
    width: 400px;
    height: 300px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid #00d8c0;
}
.content-camp input{
    display: block;
    margin: 14px 0;
    width: 250px;
    height: 35px;
    border: none;
    border-bottom: 1px solid #00d8c0;
    border-radius: 2px;
}
.content-camp button{
    width: 250px;
    height: 35px;
   margin-top: 35px;
   background-color: #00d8c0;
   border: none;
   border-radius: 5px;
}
.content-camp form{
    margin-top: 100px;
}
.enter-aluno{
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 50px;
}
.enter-painel{
    margin-left: 30px;
    height: 35px;
    line-height: 35px;
}
.enter-painel button{
    height: 35px;
    margin: 10px;
}
.docent-painel{
    width: 130px;
    border-radius: 5px;
    border: 1px solid #00d8c0;
}
.admin-painel{
    width: 130px;
    border: 1px solid #00d8c0;
    border-radius: 5px;
}
.student-painel{
    width: 130px;
    border-radius: 5px;
    border:none;
    background-color: #00d8c0;
}
a{
    color: inherit;
    text-decoration: none;
}